<kt-kpis class="kpis-layer"></kt-kpis>
<div class="info-section">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" colspan="2"><span class="icon-a_attention">&nbsp;</span> Live data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Fuel state</th>
				<td><span class="icon-a_fuel-state">&nbsp;</span> 73%</td>
			</tr>
			<tr>
				<th scope="row">Driving mode</th>
				<td><span class="icon-a_autonomous-driving">&nbsp;</span> Autonomous driving</td>
			</tr>
			<tr>
				<th scope="row">Passengers</th>
				<td><span class="icon-a_passengers">&nbsp;</span> 55/100</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="info-section">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" colspan="2"><span class="icon-a_cogwheel">&nbsp;</span> Technical details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Innenraum Temperatur</th>
				<td>Innenraum Temperatur</td>
			</tr>
			<tr>
				<th scope="row">Drehzahl</th>
				<td>Drehzahl</td>
			</tr>
			<tr>
				<th scope="row">Passengers</th>
				<td><span class="icon-a_passengers">&nbsp;</span> 55/100</td>
			</tr>
		</tbody>
	</table>
</div>