<div class="wrapper">
  <div class="header">
    <i class="flaticon-exclamation-2"></i>
    <h3>Session Timeout</h3>
  </div>
  <div class="body">
    You were inactive for a longer interval, the session will be invalidated and
    you need to login again.
  </div>
  <div class="footer">
    <button (click)="dialogRef.close()" class="login-cta add-on-button">
      <div class="icon-wrapper">
        <i class="flaticon2-user"></i>
      </div>
      <span class="text-wrapper">
        Login
      </span>
    </button>
  </div>
</div>
