<div class="kpis-wrap">
	<div class="kpis-container">
		<h5>KPIS</h5>
		<div class="panel row mx-0">
			<div class="col">
				<div class="donut-chart text-header">
					5:35<small>h</small>
				</div>
				<div class="chart-desc">
					since ignition<br>Autonomous mode
				</div>
			</div>
			<div class="col">
				<div class="donut-chart text-header">
					1025
				</div>
				<div class="chart-desc">
					since ignition<br>Soomth riding violations
				</div>
			</div>
			<div class="col">
				<div class="donut-chart chart-danger">
					<div class="semi-donut">10<small>h</small></div><span class="icon-a_trend-down chart-icon"></span>
				</div>
				<div class="chart-desc">
					without alarm
				</div>
			</div>
			<div class="col">
				<div class="donut-chart chart-info">
					<div class="semi-donut">1054<small>h</small></div><span class="icon-a_trend-up chart-icon"></span>
				</div>
				<div class="chart-desc">
					in total<br>Autonomous mode
				</div>
			</div>
			<div class="col">
				<div class="donut-chart chart-info">
					<div class="semi-donut">55<small>km</small></div><span class="icon-a_trend-up chart-icon"></span>
				</div>
				<div class="chart-desc">
					since ignition<br>Autonomous mode
				</div>
			</div>
			<div class="col">
				<div class="donut-chart chart-danger">
					<div class="semi-donut">105<small>l</small></div><span class="icon-a_trend-down chart-icon"></span>
				</div>
				<div class="chart-desc">
					per 100km<br>Energy consumption
				</div>
			</div>
		</div>
	</div>
</div>